# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
From KlickPin CF Futuristic digital globe of Earth with glowing data points network connections on a dark background \[Video] in 2026 _ Earth globe Dark backgrounds Abstract art images - Pin-123215739807665943.mp4
